.navbar {
  width: 85vw;
}

.navbar li a {
  color: white;
  list-style: none;
  text-decoration: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #90e0ef;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.4);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content li {
  list-style: none;
}

.dropdown-content li a {
  color: white;
  list-style: none;
  text-decoration: none;
  width: 100%;
}

.dropdown-content li:hover {
  background-color: black;
}
