* {
  --header: #03045e;
  --bg_color: #ebe5de;
  font-size: 1.15rem;
}

.Header {
  background-color: var(--header);
  color: white;
}

.footer {
  background-color: var(--header);
  color: white;
}
body {
  background-color: var(--bg_color);
  margin: 0;
  font-family: "Roboto";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Roboto";
}

.container {
  width: 100vw;
}
